{% extends 'layout/basic.html' %}

{% load static %}
{% block title %}用户登录{% endblock %}
{% block css %}
        <link rel="stylesheet" href="{% static 'plugin/bootstrap/3.4.1.bootstrap.min.css' %}">
   <script rel="script" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script rel="script" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg{
            color:red
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">

    </div>
      <div class="account">
        <h1 class="text-center">邮箱验证码登录</h1>
        <form id="LogForm" method="post">
        {% csrf_token %}
              {% for field in forms %}
                  {% if field.name == 'code' %}
                       <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      <div class="clearfix">
                        <div class="col-md-6" style="padding-left:0">{{ field }}
                         <span class="error-msg"></span></div>

                        <div class="col-md-6"><input type="button" value="点击获取验证码" id="btnSendCode" onclick="sendEmailCode()" class="btn btn-default"></div>
                      </div>
                  {% else %}
                   <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                   <span class="error-msg"></span>
                   </div>
                  {% endif %}
           {% endfor %}
            <button type="submit" style="margin-top:25px;" class="btn btn-primary" onclick="ClikeSubmitLogin">登 录</button>
            <a href="{% url 'users:pswdlogin' %}" style="margin-top:-25px;margin-left:270px;display: block; ">密码登录?</a>
        </form>

    </div>

    <script>
        function sendEmailCode(){
            sendEmailRemind();
            $(".error-msg").empty();

           email = $("#id_email").val();
           var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
           if (reg.test(email)){
               $.ajax({
                   url: "{% url 'users:sendcode' %}",
                   async: true,
                   data: {"email": email,
                       tpl:"login",
                       csrfmiddlewaretoken: "{{ csrf_token }}"
                   },
                   type: "POST",
                   success: function (res) {
                        if (res.status){
                           alert(res["msg"]);
                           {#sendEmailRemind();#}
                       }else{

                           // 显示错误信息
                            $.each(res.error,function(key,value){ //.each()循环信息 将参数1的dict信息给进行循环
                                $("#id_"+key).next().text(value[0]);//
                            })
                       }
                   }
               });
               return true;
           }else{
               $("#id_email").next().text("您的邮箱不正确哦~");
               return false;
           }

        }
     function sendEmailRemind() {
            var $btnSendCode = $("#btnSendCode");
            $btnSendCode.prop("disabled", true);//禁用
            var time = 60;
            var remind = setInterval(function () {
                $btnSendCode.val(time + "秒后重新发送");
                time = time - 1;
                if (time < 0) {
                    clearInterval(remind);
                    $btnSendCode.val("点击获取验证码").prop("disabled",false);
                }
            }, 1000)

        }


    function ClikeSubmitLogin(){

            $.ajax({
                url:"{% url 'users:emaillogin' %}",
                type:"POST",
                dataType:"JSON",
                data:$("#LogForm").serialize(),
                async:true,
                success:function(res){
                    if (res.status){
                        alert("登录成功!!")
                    }else{
                        alert("登录失败")
                    }
                }
            })
    }



    </script>



{% endblock %}


