{% extends 'layout/basic.html' %}

{% load static %}
{% block title %}用户登录{% endblock %}
{% block css %}
        <link rel="stylesheet" href="{% static 'plugin/bootstrap/3.4.1.bootstrap.min.css' %}">
   <script rel="script" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script rel="script" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
    <style>
        .error-msg{
            color:red
        }

    </style>
{% endblock %}
{% block content %}
    <div class="container">

    </div>
      <div class="account">
        <h1 class="text-center">密码登录</h1>
        <form id="LogForm" >
        {% csrf_token %}
              {% for field in forms %}
                  {% if field.name == 'code' %}
                       <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      <div class="clearfix">
                        <div class="col-md-6" style="padding-left:0">{{ field }}
                         <span class="error-msg"></span></div>

{#                        <div class="col-md-6"><input type="button" value="点击获取验证码" id="btnSendCode" onclick="sendEmailCode()" class="btn btn-default"></div>#}
                        <img src="{% url 'users:verify_picture' %}" id="ImgCode" title="点击更换图片">
                      </div>
                  {% else %}
                   <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                   <span class="error-msg"></span>
                   </div>
                  {% endif %}
           {% endfor %}
            <button type="button" style="margin-top:25px;" onclick="ClikeSubmitLogin()" class="btn btn-primary">登 录</button>
            <a href="{% url 'users:emaillogin' %}" style="margin-top:-25px;margin-left:240px;display: block; ">验证码登录?</a>
        </form>

    </div>

    <script>

    function ClikeSubmitLogin(){
            $(".error-msg").empty();
            $.ajax({
                url:"{% url 'users:pswdlogin' %}",
                type:"POST",
                dataType:"JSON",
                data:$("#LogForm").serialize(),
                async:true,
                success:function(res){
                    if (res.status){

                        location.href = "{% url 'index' %}";

                    }else{
                        console.log(res.error);
                        $.each(res.error,function(key,value){ //.each()循环信息 将参数1的dict信息给进行循环
                                $("#id_"+key).next().text(value[0]);//
                            })
                    }
                }
            })
    }



    </script>



{% endblock %}



{% block js %}
    <script>
        $(function(){
            $("#ImgCode").click(function(){
               var OldSrc = $(this).attr("src");
               $(this).attr("src",OldSrc+"?");
            });

        })

    </script>
{% endblock %}